*.exe
*.exe.stackdump
*.la
*.lo
*.o
*.patch
*~
.deps
.libs
configure
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/dist
/libtool
/ltmain.sh
/missing
/stamp-h1
/swtpm-*.tar.gz
/dist/swtpm.spec
/m4/*
/.pc/*
/patches/*
/src/selinux/swtpmcuse.pp
/src/selinux/swtpmcuse_svirt.fc
/src/selinux/swtpmcuse_svirt.if
/src/selinux/swtpmcuse_svirt.pp
/src/selinux/tmp
/src/swtpm/swtpm
/src/swtpm/swtpm.h
/src/swtpm/swtpm_cuse
/src/swtpm_bios/swtpm_bios
/src/swtpm_cert/swtpm_cert
/src/swtpm_ioctl/swtpm_ioctl
/src/swtpm_setup/swtpm_setup
/src/swtpm_setup/swtpm_setup.h
/src/swtpm_setup/swtpm_setup.sh
/test-driver
tests/*.log
tests/*.trs
tests/test_config
