*.egg-info
*.exe
*.exe.stackdump
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.patch
*~
.deps
.libs
__pycache__
configure
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/depcomp
/dist
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/swtpm-*.tar.gz
/dist/swtpm.spec
/m4/*
/.pc/*
/etc/swtpm_setup.conf
/patches/*
/include/swtpm.h
/man/man3/*.3
/man/man8/*.8
/samples/dist
/samples/py_swtpm_localca/swtpm_localca_conf.py
/samples/swtpm-create-user-config-files
/samples/swtpm-localca
/samples/swtpm-localca.conf
/src/selinux/*.pp.bz2
/src/selinux/swtpm.pp
/src/selinux/swtpm_svirt.fc
/src/selinux/swtpm_svirt.if
/src/selinux/swtpm_svirt.pp
/src/selinux/swtpmcuse.pp
/src/selinux/tmp
/src/swtpm/swtpm
/src/swtpm/swtpm_cuse
/src/swtpm_bios/swtpm_bios
/src/swtpm_cert/swtpm_cert
/src/swtpm_ioctl/swtpm_ioctl
/src/swtpm_setup/dist
/src/swtpm_setup/py_swtpm_setup/swtpm_setup_conf.py
/test-driver
tests/*.log
tests/*.trs
tests/test_config
/debian/*debhelper*
/debian/*substvars
/debian/files
/debian/swtpm
/debian/swtpm-cuse
/debian/swtpm-dev
/debian/swtpm-libs
/debian/swtpm-tools
/debian/swtpm-tools.postinst
/debian/tmp
