Source: swtpm
Maintainer: Stefan Berger <stefanb@linux.vnet.ibm.com>
Section: misc
Priority: optional
Build-Depends: automake,
	       autoconf,
	       libtool,
	       debhelper (>= 9),
	       libtpms-dev,
	       libfuse-dev,
	       libglib2.0-dev,
	       libgmp-dev,
	       expect,
	       libtasn1-dev,
	       socat,
	       python3-cryptography,
	       python3-setuptools,
	       python3-twisted,
	       gnutls-dev,
	       gnutls-bin,
	       libssl-dev,
	       net-tools,
	       gawk,
	       softhsm2,
	       libseccomp-dev
# linux-image-extra

Package: swtpm
Architecture: any
Depends: swtpm-libs (= ${binary:Version}),
	 ${shlibs:Depends},
	 ${misc:Depends}
# linux-image-extra
Description: Libtpms-based TPM emulator
 The swtpm package provides TPM emulators that listen for TPM commands
 on sockets, character devices, or CUSE devices.

Package: swtpm-libs
Architecture: any
Multi-Arch: same
Depends: openssl,
	 libtpms0,
	 libglib2.0-0,
	 ${shlibs:Depends},
	 ${misc:Pre-Depends},
	 ${misc:Depends}
Description: Common libraries for TPM emulators
 The swtpm-libs package provides the shared libraries for the swtpm
 and swtpm-cuse packages.

Package: swtpm-dev
Architecture: any
Depends: ${misc:Depends}
Description: Include files for the TPM emulator's CUSE interface
 The swtpm-dev package provides include files for developing clients
 controlling the CUSE TPM through ioctls.

Package: swtpm-tools
Architecture: any
Description: Tools for the TPM emulator
 The swtpm-tools package contains the following types of tools:
  - swtpm_bios: Tool for initializing the TPM
  - swtpm_ioctl: Tool for controlling the CUSE TPM
  - swtpm_setup: Tool for creating the initial state of the TPM; this
      tool basically simulates TPM manufacturing where certificates are
      written into the NVRAM of the TPM
  - swtpm_cert: Creation of certificates for the TPM (x509)
Depends: swtpm (= ${binary:Version}),
	 trousers (>= 0.3.9),
	 ${shlibs:Depends},
	 ${misc:Depends},
	 gnutls-bin
